In [1]:
import pandas as pd
import sqlite3
from datetime import datetime

In [2]:
# ------------------------------
# Load CSVs
# ------------------------------
students_df = pd.read_csv("csv_data/yash_students1.csv")   # StuID, JobID, etc.
jobs_df = pd.read_csv("csv_data/mst_job.csv")          # JobID, JobDesc
fees_df = pd.read_csv("csv_data/tbl_stufees.csv")          # StuID, TotalAmt, LastUpdatedDate

In [3]:
# ------------------------------
# Merge datasets
# ------------------------------
# Step 1: Merge students with jobs (to get JobDesc)
students_jobs = students_df.merge(jobs_df, on="JobID", how="left")

In [4]:
# Step 2: Merge with fees (to get amount + created_on)
merged_df = students_jobs.merge(fees_df, on="StuID", how="inner")

In [5]:
# ------------------------------
# Prepare final DataFrame
# ------------------------------
work_df = pd.DataFrame()
work_df["customer_id"] = merged_df["StuID"]
work_df["work"] = merged_df["JobDesc"].str.lower()
work_df["charged_amount"] = merged_df["TotalAmt"]
work_df["created_on"] = merged_df["LastUpdatedDate_y"]

# Current local datetime
current_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
work_df["updated_on"] = current_time

In [6]:
# ------------------------------
# Insert into SQLite
# ------------------------------
conn = sqlite3.connect("sqlite_db/guide-mts-data.sqlite3")  # replace with your db path
work_df.to_sql("work_descriptions", conn, if_exists="append", index=False)

print("✅ Data inserted successfully into work_descriptions")
print(work_df.head(10))

✅ Data inserted successfully into work_descriptions
   customer_id                                               work  \
0         2775       application for new license without training
1         2767       application for new license without training
2         2774  learning four wheeler with temporary license &...
3         2770  learning four wheeler with temporary license &...
4           22  learning four wheeler with temporary license &...
5           44       application for new license without training
6           45  converting two wheeler license to four wheeler...
7           49  learning four wheeler with temporary license &...
8           51  learning four wheeler with temporary license &...
9           69  learning four wheeler with temporary license &...

   charged_amount           created_on           updated_on
0            1200  2016-01-29 00:00:00  2025-08-24 12:49:17
1            5200  2016-01-27 00:00:00  2025-08-24 12:49:17
2            5000  2016-01-29 00:00:00  2025-08-24 12:49:17
3            5900  2016-01-27 00:00:00  2025-08-24 12:49:17
4            4950  2013-05-03 00:00:00  2025-08-24 12:49:17
5            1200  2013-05-11 00:00:00  2025-08-24 12:49:17
6            1300  2013-05-11 00:00:00  2025-08-24 12:49:17
7            4550  2013-05-15 00:00:00  2025-08-24 12:49:17
8            4550  2013-05-17 00:00:00  2025-08-24 12:49:17
9            4550  2013-05-28 00:00:00  2025-08-24 12:49:17