In [22]:
import pandas as pd
import sqlite3
from datetime import datetime

In [35]:
mst_jobs = pd.read_csv("csv_data/mst_job.csv")
tbl_learnlicdet = pd.read_csv("csv_data/tbl_learnlicdet.csv")
tbl_permanentlicdet = pd.read_csv("csv_data/tbl_permanentlicdet.csv")
tbl_stufees = pd.read_csv("csv_data/tbl_stufees.csv")
yash_students = pd.read_csv("csv_data/yash_students.csv")


print("MST Jobs:")
print(mst_jobs.head(), "\n")
print("Learn License Details:")
print(tbl_learnlicdet.head(), "\n")
print("Permanent License Details:")
print(tbl_permanentlicdet.head(), "\n")
print("Student Fees:")
print(tbl_stufees.head(), "\n")
print("Yash Students:")
print(yash_students.head(), "\n")

MST Jobs:
   JobID                JobName  \
0      1     4 Wheeler Learning
1      2   Practicing 4 Wheeler
2      3    Issuing New License
3      4        License Renewal
4      5  Convert To Smart Card

                                             JobDesc JobType
0  Learning four wheeler with temporary license &...     EXE
1            Practicing four wheeler without license     EXE
2       Application for new license without training     RTO
3    Renewing expired license (all types of license)     RTO
4  Application for duplicate license with old lic...     RTO

Learn License Details:
   StuID                       LicNo             DtEnroll  \
0     19         LL/38989/13,   ,     2013-05-02 00:00:00
1     48             LL/43349/13, ,   2013-05-16 00:00:00
2     49             LL/43415/13, ,   2013-05-16 00:00:00
3     51           LL/43629/13,  ,    2013-05-17 00:00:00
4     46  LL/43351/13, LL/43350/13,   2013-05-16 00:00:00

               DtIssue             DtExpire                 LicType  \
0  2013-05-02 00:00:00  2013-11-01 00:00:00         LMV N/T,   ,
1  2013-05-16 00:00:00  2013-11-15 00:00:00         M/CYCLE (B), ,
2  2013-05-16 00:00:00  2013-11-15 00:00:00             LMV N/T, ,
3  2013-05-17 00:00:00  2013-11-16 00:00:00            LMVN/T,  ,
4  2013-05-16 00:00:00  2013-11-15 00:00:00  LMV T/R, M/CYCLE (B),

   LicDispatched  LicDispatchedDate      LastUpdatedDate
0            NaN                NaN  2013-05-18 00:00:00
1            NaN                NaN  2013-05-18 00:00:00
2            NaN                NaN  2013-05-18 00:00:00
3            NaN                NaN  2013-05-18 00:00:00
4            NaN                NaN  2013-05-18 00:00:00

Permanent License Details:
   StuID             LicNo             DtEnroll              DtIssue  \
0   3337  MH01/1979/482298  1973-09-15 00:00:00  1973-09-15 00:00:00
1   3331   MH01/2006/26568  2006-05-12 00:00:00  2006-05-12 00:00:00
2   3327   MH08/2001/42851  2001-09-12 00:00:00  2001-09-12 00:00:00
3   3266   MH01/2011/42525  2011-05-18 00:00:00  2011-05-18 00:00:00
4   3252   MH01/1998/35820  1998-08-03 00:00:00  1998-08-03 00:00:00

              DtExpire             LicType  Endorse EndorseDate  \
0  2021-09-21 00:00:00             LMV N/T      NaN         NaN
1  2010-05-11 00:00:00             LMV T/R      NaN         NaN
2  2019-09-27 00:00:00    LMV T/R, HGV T/R      NaN         NaN
3  2019-09-30 00:00:00  LMV N/T, M/CYCLE B  LMV T/R  01/10/2016
4  2018-08-02 00:00:00  A/R T/R, M/CYCLE B  LMV N/T  01/10/2016

       LastUpdatedDate
0  2016-09-24 00:00:00
1  2016-09-24 00:00:00
2  2016-09-29 00:00:00
3  2016-09-30 00:00:00
4  2016-09-30 00:00:00

Student Fees:
   StuID  TotalAmt      LastUpdatedDate
0     61      4950  2013-05-22 00:00:00
1     62       900  2013-05-22 00:00:00
2     63       900  2013-05-22 00:00:00
3     64      4950  2013-05-23 00:00:00
4     65      4550  2013-05-25 00:00:00

Yash Students:
   StuID    StuPhone               StuName               StuDOB  \
0   2775  9969279470        SACHIN   DUDAM  1987-08-30 00:00:00
1   2767  8286971980        INDRARAJ YADAV  1991-10-20 00:00:00
2   2774  9870688022        KAVYA  NANKANI  1997-12-15 00:00:00
3   2770  9004764578     R.M. VIVEKA NADAR  1978-07-03 00:00:00
4     22  9167060084  VISHRUT  ITCHHAPORIA  1994-12-16 00:00:00

                StuDOI    StuSDWOf  CarID  InstID  \
0  2016-01-29 00:00:00     TUKARAM      1       1
1  2016-01-27 00:00:00  PHOOLCHAND      1       1
2  2016-01-29 00:00:00         GUL      2       2
3  2016-01-27 00:00:00        RAJA      5       8
4  2013-05-03 00:00:00       ABHAY      4       4

                                           StuPerAdd  \
0  69 1/1 BHANDARWADA SHIVAJI NAGAR\r\nSION CIRCL...
1  R/23 NAVDURGA CHAWL NEHRU NAGAR\r\nALMEDA COMP...
2  152-A KALPATARU RESIDENCY 107 K\r\nSION CIRCLE...
3  SHOP.NO. 1, BLOCK.NO. 11, \r\n90FEET ROAD, NEA...
4  95/10, SHIV KAILASH BLDG\r\nSION WEST MUMBAI\r...

                   learn_lic_no             learn_lic_type  \
0                   LL/14304/16                  M/CYCLE B
1  LL/13200/16, MH/0044362/2019       M/CYCLE B,  LMV 26/4
2                   LL/13555/16                    LMV N/T
3      LL/13556/16, LL/13557/16         LMV N/T, M/CYCLE B
4  LL/39300/13, LL/39299/13,     LMV N/T,   M/CYCLE(B),

        learn_dt_issue      learn_dt_expiry      perm_lic_no  \
0  2016-01-30 00:00:00  2016-07-29 00:00:00  MH01/2016/15417
1  2016-01-28 00:00:00  2016-07-27 00:00:00  MH01/2016/15418
2  2016-01-29 00:00:00  2016-07-28 00:00:00  MH01/2016/15426
3  2016-01-29 00:00:00  2016-07-28 00:00:00  MH01/2016/15434
4  2013-05-13 00:00:00  2013-11-12 00:00:00  MH01/2013/21842

          perm_lic_type        perm_dt_issue       perm_dt_expiry   Endorse  \
0            M/CYCLE  B  2016-03-19 00:00:00  2027-03-18 00:00:00       NaN
1            M/CYCLE  B  2016-03-19 00:00:00  2036-03-18 00:00:00   LMV N/T
2             L M V N/T  2016-03-19 00:00:00  2037-03-18 00:00:00       NaN
3  L M V N/T, M/CYCLE B  2016-03-19 00:00:00  2018-03-18 00:00:00       NaN
4  LMV N/T, M/CYCLE (B)  2013-06-14 00:00:00  2034-06-14 00:00:00       NaN

  EndorseDate      LastUpdatedDate
0         NaN  2016-03-04 00:00:00
1  21/06/2019  2018-11-02 00:00:00
2         NaN  2016-03-04 00:00:00
3         NaN  2016-03-04 00:00:00
4         NaN  2013-06-10 00:00:00

In [36]:
# Lowercase only string columns, not column names
def lowercase_df(df):
    for col in df.select_dtypes(include='object').columns:
        df[col] = df[col].str.lower().str.strip()
    return df

mst_jobs = lowercase_df(mst_jobs)
tbl_learnlicdet = lowercase_df(tbl_learnlicdet)
tbl_permanentlicdet = lowercase_df(tbl_permanentlicdet)
tbl_stufees = lowercase_df(tbl_stufees)
yash_students = lowercase_df(yash_students)

In [45]:
# Split LL numbers and classes if there are multiple
yash_students[['ll_no_1', 'll_no_2']] = yash_students['learn_lic_no'].str.split(pat=',', n=1, expand=True)
yash_students[['ll_class_1', 'll_class_2']] = yash_students['learn_lic_type'].str.split(pat=',', n=1, expand=True)

# Map columns to database table
yash_students.rename(columns={
    "StuID": "id",
    "StuPhone": "mobile_number",
    "StuName": "customer_name",
    "StuDOB": "customer_dob",
    "StuPerAdd": "address",
    "CarID": "vehicle_id",
    "InstID": "instructor_id",
    "learn_dt_issue": "ll_issued_date",
    "learn_dt_expiry": "ll_validity_date",
    "perm_lic_no": "mdl_no",
    "perm_lic_type": "mdl_class",
    "perm_dt_issue": "mdl_issued_date",
    "perm_dt_expiry": "mdl_validity_date",
    "Endorse": "endorsement",
    "EndorseDate": "endorsement_date",
    "StuSDWOf": "relation_name",
    "LastUpdatedDate": "created_on"
}, inplace=True)

# Add extra columns
now = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
yash_students["updated_on"] = now
yash_students["customer_image"] = None
yash_students["customer_signature"] = None
yash_students["endorsement_validity_date"] = None
yash_students["customer_vehicle_no"] = None

# Convert dates to standard format
date_cols = ['customer_dob', 'll_issued_date', 'll_validity_date', 'mdl_issued_date', 'mdl_validity_date', 'endorsement_date', 'created_on']
for col in date_cols:
    if col in yash_students.columns:
        yash_students[col] = pd.to_datetime(yash_students[col], errors='coerce').dt.strftime("%Y-%m-%d %H:%M:%S")

# Get actual columns from the customers table in SQLite
conn = sqlite3.connect("guide-mts-data.sqlite3")
cursor = conn.execute("PRAGMA table_info(customers)")
table_columns = [row[1] for row in cursor.fetchall()]

# Remove 'll_no_2' from columns if it exists to avoid UNIQUE constraint error
columns_to_insert = [col for col in table_columns if col in yash_students.columns and col != 'll_no_2']
yash_students_to_insert = yash_students[columns_to_insert]

# Drop duplicate mdl_no values (keep first occurrence)
if 'mdl_no' in yash_students_to_insert.columns:
    yash_students_to_insert = yash_students_to_insert.drop_duplicates(subset=['mdl_no'], keep='first')

# Drop duplicate mobile_number values (keep first occurrence)
if 'mobile_number' in yash_students_to_insert.columns:
    yash_students_to_insert = yash_students_to_insert.drop_duplicates(subset=['mobile_number'], keep='first')

# Drop duplicate ll_no_1 values (keep first occurrence)
if 'll_no_1' in yash_students_to_insert.columns:
    yash_students_to_insert = yash_students_to_insert.drop_duplicates(subset=['ll_no_1'], keep='first')

# Optionally, also drop rows where mdl_no is NaN (if mdl_no is required to be unique and not null)
if 'mdl_no' in yash_students_to_insert.columns:
    yash_students_to_insert = yash_students_to_insert[yash_students_to_insert['mdl_no'].notna()]

# Insert into SQLite
yash_students_to_insert.to_sql('customers', conn, if_exists='append', index=False)
conn.close()

print("Data inserted successfully!")

Data inserted successfully!